<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AadTenantId" value="YOUR_TENANT_ID_OR_NAME" />
    <add key="AadClientId" value="YOUR_APP_REGISTRATION_CLIENT_ID" />
    <add key="AadClientSecret" value="YOUR_APP_REGISTRATION_CLIENT_SECRET" />
    <add key="DemoUsername" value="admin" />
    <add key="DemoPassword" value="Password@123" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <pages>
      <controls>
        <add assembly="System.Web.Extensions" namespace="System.Web.UI" tagPrefix="asp" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>